{% extends "base.html" %}
{% load humanize %}
{% load static %}

{% block title %}{{user.username}}{% endblock title %}

{% block content %}
    <!-- USER INFO -->
    <section class="mt-5">
      <div class="ui container">
        <div class="ui grid">
          <!-- PROFILE PICTURE -->
          <div class="six wide column mt-5 py-3">
            <img
              class="ui middle aligned tiny image border"
              src="{{user.profile_picture.url}}"
              alt="{{user.username}}"
              id="profile-picture"
            />
          </div>
          <!-- USER DESCRIPTION -->
          <div class="ten wide column mt-5">
            <div class="ui grid mb-1">
              <div class="nine wide column">
                <!-- USERNAME AND FOLLOW BUTTON -->
                <div class="ui grid">
                  <div class="six wide column">
                    <h3 class="text-muted">{{user.username}}</h3>
                  </div>
                  <div class="six wide column mr-auto">
                    {% if is_own_profile %}
                    <div class="ui simple dropdown icon">
                      <i class="cog icon large"></i>
                      <div class="menu">
                        <div class="item">
                          <a 
                          href="{% url 'Accounts:Logout' %}" 
                          id="follow-profile"
                          >
                            <i class="user icon large"></i>
                            Logout
                          </a>
                        </div>
                        <div class="item">
                          <a href="">
                            <i class="cog icon large"></i>
                            Edit Profile
                          </a>
                        </div>
                      </div>
                    </div>

                    {% else %}
                      {% if is_following %}
                        <button 
                          class="ui button small" 
                          id="follow-profile"
                          onclick="toggleFollowing('{{user.id}}')"
                        >
                          <i class="user icon"></i>
                          Following
                        </button>
                      {% else %}
                        <button 
                          class="ui button small primary" 
                          id="follow-profile"
                          onclick="toggleFollowing('{{user.id}}')"
                        >
                          <i class="user icon"></i>
                          Follow
                        </button>
                      {% endif %}
                    {% endif %}
                  </div>
                </div>

                <!-- POST, FOLLOWERS, FOLLOWING -->
                <div class="ui grid">
                  <div class="five wide column">
                    <strong class="ui small header mr-1">{{user.posts.count|intword}} </strong>
                    <span class="ui small header text-muted">Post{{user.posts.count|pluralize}}</span>
                  </div>
                  <div class="five wide column">
                    <strong 
                      class="ui small header mr-1"
                      id="followers-count"
                    >
                      {{user.followers.count|intword}}
                    </strong>
                    <span 
                      class="ui small header text-muted"
                      id="followers-desc"
                    >
                      Follower{{user.followers.count|pluralize}}
                    </span>
                  </div>
                  <div class="five wide column">
                    <strong class="ui small header mr-1">{{user.followings.count|intword}}</strong>
                    <span class="ui small header text-muted">Following{{user.followings.count|pluralize}}</span>
                  </div>
                </div>

                <!-- FULL NAME AND BIO -->
                <div class="ui small header">{{user.username}}</div>
                <p class="text-justify">
                  {{user.bio}}
                </p>
              </div>
              <div class="seven wide column"></div>
            </div>
          </div>
        </div>
        <hr />
        <!-- GALLERY -->
        <div class="ui grid">
          <div class="thirteen wide column mx-auto">
            <div class="ui grid">
              
              {% if is_own_profile %}
                <div class="five wide column mb-2 my-auto">
                  <a href="{{post.get_absolute_url}}">
                    <div class="m-auto">
                      <img
                        src="{% static 'img/CameraIcon.png' %}"
                        alt=""
                        class="ui image m-auto Medium"
                    />
                    </div>
                  </a>
                </div>
              {% endif %}
                
              {% if owned_posts %}
                {% for post in owned_posts  %}
                  
                  <div class="five wide column mb-2">
                    <a href="{{post.get_absolute_url}}">
                      <img
                        src="{{post.photo.url}}"
                        alt=""
                        class="ui image fluid"
                        id="photo-feed"
                      />
                    </a>
                  </div>

                {% endfor %}

              {% else %}
                {% if not is_own_profile %}
                  <p class="text-lead mt-5">This User hasn't posted anything yet. Stay tune!</p>
                {% endif %}
              {% endif %}

            </div>
          </div>
        </div>
      </div>
    </section>
{% endblock content %}

{% block javascript %}

<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/js-cookie@beta/dist/js.cookie.min.js"></script>

<script>

  let followBtn, newIcon, followersCount, followersDesc


  toggleFollowing = async id => {
    const data = {
      'userID' : id
    }
    const url = 'http://127.0.0.1:8000/ajax/toggle-follow'
    const config = axiosConfig()
    const res = await axios.post(url, JSON.stringify(data), config)

    const { updated_is_following, updated_followers_count } = res.data

    // DOM Manipulation
    followBtn = document.querySelector('#follow-profile')
    followBtn.className = `ui small button ${updated_is_following ? '' : 'primary'}`
    clearChild(followBtn)
    newIcon = document.createElement('i')
    newIcon.className = 'user icon'
    followBtn.appendChild(newIcon)
    followBtn.appendChild(document.createTextNode(`${updated_is_following ? 'Following' : 'Follow'}`))

    followersCount = document.querySelector('#followers-count')
    followersCount.innerText = `${updated_followers_count}`

    followersDesc = document.querySelector('#followers-desc')
    followersDesc.innerText = `${updated_followers_count > 1 ? 'Followers' : 'Follower'}`
    
  }

  axiosConfig = () => {
    const csrf = Cookies.get('csrftoken')
    let config = {
      headers : {
        'Content-type' : 'application/json',
        'X-CSRFToken' : csrf
      }
    }
    return config
  }

  clearChild = node => {
    while(node.firstChild) node.removeChild(node.firstChild)
  }

</script>

{% endblock javascript %}