{% load static %}
<!-- NAVBAR -->
<section id="navbar">
  <div class="ui pointing fixed menu mb-5">
    <div class="container">
      <a class="item" href="{% url 'Post:List' %}"> 
        <i class="instagram icon big"></i>
      </a>
      <a href="{% url 'Post:List' %}">
        <img
        src="{% static 'img/Chadtagram.png' %}"
        alt="Chad-Logo"
        class="ui small image mt-2"
      />
      </a>
      
      <div class="ml-auto my-auto">
        <div class="item center mr-5">
          <form method="GET" action="{% url 'Accounts:Search' %}" id="search-form">
            <div class="ui transparent icon input">
              <div class="ui medium form mr-3">
                <input type="text" name="search" placeholder="Search..." />
              </div>
            </div>
          </form>
          <a onclick="submitForm()">
            <i class="search link large icon"></i>
          </a>
        </div>
      </div>

      <div class="right menu">
        <a class="item" href="{% url 'Post:List' %}">
          <i class="heart outline big icon"></i>
        </a>
        <a class="item" href="{{user.get_absolute_url}}">
          <i class="user circle big icon"></i>
        </a>
        <a class="item">
          <i class="mobile alternate big icon"></i>
        </a>
      </div>
    </div>
  </div>
  <div class="ui huge horizontal divider header"></div>
</section>

<script>
  form = document.querySelector('#search-form')
  submitForm = () => form.submit()
</script>