{% extends "base.html" %}
{% load humanize %}

{% block title %}Chadtagram{% endblock title %}


{% block content %}
  <div class="ui container">
    <div class="ui grid">
      <div class="ten wide column" id="left-side">
        <!-- PHOTO ITSELF -->
        <div class="ui fluid image my-5">
          <img src="{{post.photo.url}}" alt="" />
        </div>
      </div>

      <div class="six wide column">
        <div id="post-info">
          <!-- USER, CAPTIONS, COMMENTS -->
          <div class="ui segment mt-5">
            <div class="mr-auto">
              <!-- USER -->
              <section class="mb-3">
                <a href="{{post.owner.get_absolute_url}}">
                  <img 
                  class="ui avatar image" 
                  src="{{post.owner.profile_picture.url}}" 
                  alt="{{post.owner.username}}"
                />
                </a>
                <span class="mr-3">
                  <a href="{{post.owner.get_absolute_url}}">
                    <strong>{{post.owner.username}}</strong>
                  </a>
                </span>
                
                {% if not is_own %}
                  {% if is_following %}
                    <!-- USE THIS TO UNFOLLOW -->
                    <button 
                      class="ui mini button" 
                      id="follow-btn-{{post.owner.id}}"
                      onclick="toggleFollowing('{{post.owner.id}}')"
                    >
                      <i class="user icon"></i>
                      Following
                    </button>
                  {% else %}
                      <button 
                        class="ui button mini primary"
                        id="follow-btn-{{post.owner.id}}"
                        onclick="toggleFollowing('{{post.owner.id}}')"
                      >
                        <i class="user icon"></i>
                        Follow
                    </button>
                  {% endif %}
                
                {% else %}
                  <a href="{% url 'Post:Update' pk=post.id %}" class="ui mini button">
                    <i class="cog icon"></i>
                    Edit Post
                  </a>
                {% endif %}
                    
              </section>

              <div id="scroll" class="mx-auto">
                <!-- CAPTIONS -->
                <section class="mt-3 mb-3">
                  {{post.captions}}
                </section>

                <!-- COMMENTS -->
                <section>

                  {% if comments %}
                      <!-- Sample Comment -->
                    <div class="ui comments">
                      <h3 class="ui dividing header"></h3>
                      {% for comment in comments %}

                        <div class="comment mb-4">
                          <a href="{{comment.owner.get_absolute_url}}" class="avatar">
                            <img src="{{comment.owner.profile_picture.url}}" />
                          </a>
                          <div class="content">
                            <a 
                              href="{{comment.owner.get_absolute_url}}" 
                              class="author"
                            >
                              {{comment.owner.username}}
                            </a>
                            <div class="metadata">
                              <!-- <span class="date">Today at 5:42PM</span> -->
                              <span class="date">{{comment.created_at|naturalday|capfirst }}</span>
                              {% if comment.owner == request.user or comment.post.owner == request.user %}
                                <form 
                                  action="{% url 'Post:Delete_Comment' pk=comment.id %}" 
                                  method='POST'
                                  id="delete-comment-{{comment.id}}"
                                >
                                  {% csrf_token %}
                                </form>
                                <a>
                                  <i 
                                    class="x icon red large" 
                                    onclick="deleteComment('{{comment.id}}')"
                                    style="cursor:pointer"
                                  ></i>
                                </a>
                              {% endif %}
                              
                            </div>
                            <div class="text">
                              {{comment.comment}}

                            </div>
                            
                          </div>
                        </div>
                      {% endfor %}
                    </div>
                  {% endif %}
                  <!-- ADD COMMENT -->
                  <div class="extra content mt-5">
                    <div class="ui medium form mb-4">
                      <form 
                        action="{% url 'Post:Add_Comment' %}"
                        class="ui fluid transparent action input"
                        method='POST'
                        id='form-{{post.id}}'
                      >
                        {% csrf_token %}
                        <input type="hidden" name="postID" value="{{post.id}}">
                        <input type="text" name="comment" placeholder="Add Comment..." />
                        <button type="submit" class="ui tiny ml-3 button primary">Post</button>
                      </form>
                    </div>
                  </div>
                </section>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
  
{% block javascript %}
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/js-cookie@beta/dist/js.cookie.min.js"></script>

  <script>
    let followBtn, newIcon, formDeleteComment

    deleteComment = id => {
      formDeleteComment = document.querySelector(`#delete-comment-${id}`)
      formDeleteComment.submit()
    }

    toggleFollowing = async id => {
      const data = {
        'userID' : id
      }
      const url = 'http://127.0.0.1:8000/ajax/toggle-follow'
      const config = axiosConfig()

      const res = await axios.post(url, JSON.stringify(data), config)
      const { updated_is_following } = res.data

      // DOM Manipulation part
      followBtn = document.querySelector(`#follow-btn-${id}`)
      followBtn.className = `ui mini button ${updated_is_following ? '' : 'primary'}`
      clearChild(followBtn)
      newIcon = document.createElement('i')
      newIcon.className = 'user icon'
      followBtn.appendChild(newIcon)
      followBtn.appendChild(document.createTextNode(`${updated_is_following ? 'Following' : 'Follow'}`))

    }

    axiosConfig = () => {
      const csrf = Cookies.get('csrftoken')
      let config = {
        headers : {
          'Content-type' : 'application/json',
          'X-CSRFToken' : csrf
        }
      }
      return config
    }

    clearChild = node => {
      while(node.firstChild) node.removeChild(node.firstChild)
    }

  </script>
{% endblock javascript %}